[Container]
NoNewPrivileges=true
ContainerName=silverbullet-app
Image=ghcr.io/silverbulletmd/silverbullet:latest
Pod=silverbullet.pod

Volume=%h/Homelab/data/silverbullet/data/silverbullet-data:/space:z

EnvironmentFile=%h/Homelab/secrets/silverbullet

DropCapability=all

AutoUpdate=registry

HealthCmd=curl "http://127.0.0.1:3000/.instance" || exit 1
HealthInterval=1m
HealthRetries=3
HealthStartPeriod=30s
Memory=512M

[Install]
WantedBy=default.target
