[Container]
NoNewPrivileges=true
ContainerName=slskd
Image=docker.io/slskd/slskd:latest
Pod=slskd.pod

User=1000:1000
DropCapability=all

Volume=%h/Homelab/data/slskd/data/slskd-config:/app:z
Volume=/mnt/data/share/music:/music:ro
Volume=/mnt/data/share/books:/books:ro
Volume=/mnt/data/downloads/soulseek:/data/downloads/soulseek:z
Volume=/mnt/data/downloads/temp/soulseek:/incomplete:z

Environment=TZ=Europe/Madrid
Environment=SLSKD_SHARED_DIR=/music;/books
Environment=SLSKD_DOWNLOADS_DIR=/data/downloads/soulseek

AutoUpdate=registry

HealthCmd=wget -qO- http://localhost:5030/ > /dev/null
HealthInterval=1m
HealthRetries=3
HealthStartPeriod=30s

[Service]
MemoryMax=512M

[Install]
WantedBy=default.target
