[Container]
NoNewPrivileges=true
ContainerName=miniflux-app
Image=docker.io/miniflux/miniflux:latest
Pod=miniflux.pod

EnvironmentFile=%h/Homelab/secrets/miniflux
Environment=RUN_MIGRATIONS=1
Environment=CREATE_ADMIN=1
Environment=ADMIN_USERNAME=admin

DropCapability=all

AutoUpdate=registry

HealthCmd=/usr/bin/miniflux -healthcheck auto
HealthInterval=1m
HealthRetries=3
HealthStartPeriod=30s

[Unit]
After=miniflux-db.service
Requires=miniflux-db.service

[Service]
MemoryMax=512M

[Install]
WantedBy=default.target
