[Container]
NoNewPrivileges=true
ContainerName=paperless-redis
Image=docker.io/library/redis:7-alpine
Pod=paperless.pod

Volume=paperless-redis.volume:/data
DropCapability=all
AddCapability=CAP_SETUID CAP_SETGID

HealthCmd=redis-cli ping
HealthInterval=10s
HealthRetries=5

[Service]
MemoryMax=256M

[Install]
WantedBy=default.target
