[Container]
NoNewPrivileges=true
ContainerName=paperless-app
Image=ghcr.io/paperless-ngx/paperless-ngx:latest
Pod=paperless.pod

Volume=%h/Homelab/data/paperless/data/paperless-config:/usr/src/paperless/data:z
Volume=/mnt/data/personal/paperless/media:/usr/src/paperless/media
Volume=/mnt/data/personal/paperless/export:/usr/src/paperless/export
Volume=/mnt/data/personal/paperless/consume:/usr/src/paperless/consume
Volume=/etc/localtime:/etc/localtime:ro

Environment=TZ=Europe/Madrid
Environment=PAPERLESS_TIME_ZONE=Europe/Madrid
Environment=PAPERLESS_OCR_LANGUAGE=spa
EnvironmentFile=%h/Homelab/secrets/paperless
Environment=PAPERLESS_REDIS=redis://127.0.0.1:6379/0

DropCapability=all
AddCapability=CAP_CHOWN CAP_DAC_OVERRIDE CAP_FOWNER CAP_SETUID CAP_SETGID

AutoUpdate=registry

HealthCmd=curl -sf http://127.0.0.1:8000/
HealthInterval=1m
HealthRetries=3
HealthStartPeriod=30s
Memory=1G

[Unit]
After=paperless-redis.service
Requires=paperless-redis.service

[Install]
WantedBy=default.target
