[Container]
NoNewPrivileges=true
ContainerName=radarr-app
Image=lscr.io/linuxserver/radarr:latest
Pod=radarr.pod

Volume=%h/Homelab/data/radarr/data/radarr-config:/config:z
Volume=/mnt/data/media:/data:z

Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=Europe/Madrid
Environment=DOCKER_MODS=linuxserver/mods:radarr-striptracks

DropCapability=all
AddCapability=CAP_CHOWN CAP_DAC_OVERRIDE CAP_FOWNER CAP_SETUID CAP_SETGID

AutoUpdate=registry

HealthCmd=curl -sf http://localhost:7878/ping || exit 1
HealthInterval=1m
HealthRetries=3
HealthStartPeriod=30s

[Service]
MemoryMax=512M

[Install]
WantedBy=default.target
