[Container]
NoNewPrivileges=true
ContainerName=immich-ml
Image=ghcr.io/immich-app/immich-machine-learning:release-openvino
Pod=immich.pod

Volume=immich-model-cache.volume:/cache

AddDevice=/dev/dri/renderD128:/dev/dri/renderD128

Environment=TZ=Europe/Madrid
Environment=IMMICH_HOST=0.0.0.0
Environment=IMMICH_PORT=3003
Environment=MACHINE_LEARNING_CACHE_FOLDER=/cache

DropCapability=all

AutoUpdate=registry

HealthCmd=bash -c "exec 3<>/dev/tcp/127.0.0.1/3003 2>/dev/null && echo -e "GET /ping HTTP/1.0\r\nHost: 127.0.0.1\r\n\r\n" >&3 && read -r line <&3 && echo "$line""
HealthInterval=30s
HealthRetries=3
HealthStartPeriod=30s
Memory=8G

[Install]
WantedBy=default.target
