[Container]
NoNewPrivileges=true
ContainerName=linkwarden-app
Image=ghcr.io/linkwarden/linkwarden:latest
Pod=linkwarden.pod

Volume=%h/Homelab/data/linkwarden/data/linkwarden-config:/data/data:z
EnvironmentFile=%h/Homelab/secrets/linkwarden

DropCapability=all

AutoUpdate=registry

HealthCmd=curl -sf http://127.0.0.1:3000
HealthInterval=1m
HealthRetries=3
HealthStartPeriod=30s
Memory=512M

[Install]
WantedBy=default.target
