[Container]
NoNewPrivileges=true
ContainerName=linkwarden-db
Image=docker.io/postgres:16-alpine
Pod=linkwarden.pod

Volume=linkwarden-postgres.volume:/var/lib/postgresql/data
DropCapability=all
AddCapability=CAP_CHOWN CAP_DAC_OVERRIDE CAP_FOWNER CAP_SETUID CAP_SETGID

Environment=POSTGRES_DB=linkwarden
Environment=POSTGRES_USER=postgres
Environment=POSTGRES_INITDB_ARGS=--data-checksums
EnvironmentFile=%h/Homelab/secrets/linkwarden

HealthCmd=pg_isready -d linkwarden -U postgres
HealthInterval=10s
HealthRetries=5
Memory=512M

[Install]
WantedBy=default.target
