[Container]
NoNewPrivileges=true
ContainerName=linkwarden-app
Image=ghcr.io/linkwarden/linkwarden:latest
Pod=linkwarden.pod

Volume=%h/Homelab/data/linkwarden/data/linkwarden-config:/data/data:z
EnvironmentFile=%h/.config/containers/systemd/secrets/linkwarden

DropCapability=all

AutoUpdate=registry

HealthCmd=curl -sf http://localhost:3000
HealthInterval=1m
HealthRetries=3
HealthStartPeriod=30s

[Service]
MemoryMax=512M

[Install]
WantedBy=default.target
