[Container]
NoNewPrivileges=true
ContainerName=jellyfin-tailscale
Image=docker.io/tailscale/tailscale:latest
Pod=jellyfin.pod

Volume=%h/Homelab/data/jellyfin/tailscale-state:/var/lib/tailscale:z
Volume=%h/Homelab/data/jellyfin/tailscale-serve.json:/config/serve-config.json:ro,z
AddDevice=/dev/net/tun:/dev/net/tun
DropCapability=all
AddCapability=NET_ADMIN
AddCapability=NET_RAW

Environment=TS_STATE_DIR=/var/lib/tailscale
Environment=TS_HOSTNAME=jellyfin
Environment=TS_AUTHKEY=CONSUMIDA__generar_nueva_en_login.tailscale.com/admin/settings/keys
Environment=TS_SERVE_CONFIG=/config/serve-config.json
Environment=TS_ENABLE_HEALTH_CHECK=true

AutoUpdate=registry

HealthCmd=/bin/sh -c 'tailscale status --json | grep -q "BackendState.*Running" && ! tailscale serve status | grep -q "No serve config"'
HealthInterval=1m
HealthRetries=3
HealthStartPeriod=30s

[Service]
After=network-online.target

[Install]
WantedBy=default.target
