[Container]
NoNewPrivileges=true
ContainerName=bazarr-app
Image=lscr.io/linuxserver/bazarr:latest
Pod=bazarr.pod

Volume=%h/Homelab/data/bazarr/data/bazarr-config:/config:z
Volume=/mnt/data/media:/data:z

Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=Europe/Madrid

DropCapability=all
AddCapability=CAP_CHOWN CAP_DAC_OVERRIDE CAP_FOWNER CAP_SETUID CAP_SETGID

AutoUpdate=registry

HealthCmd=curl -sf http://127.0.0.1:6767/ping || exit 1
HealthInterval=1m
HealthRetries=3
HealthStartPeriod=30s
Memory=512M

[Install]
WantedBy=default.target
