[Container]
NoNewPrivileges=true
ContainerName=copyparty-app
Image=docker.io/copyparty/ac:latest
Pod=copyparty.pod

Volume=%h/Homelab/data/copyparty/data/copyparty-config:/cfg:z
Volume=/mnt/data/personal/copyparty:/data

DropCapability=all

AutoUpdate=registry

HealthCmd=wget -q -O /dev/null --timeout=3 http://localhost:3923/
HealthInterval=1m
HealthRetries=3
HealthStartPeriod=30s

[Service]
MemoryMax=512M

[Install]
WantedBy=default.target
