[Container]
NoNewPrivileges=true
ContainerName=grimmory-app
Image=docker.io/grimmory/grimmory:latest
Pod=grimmory.pod

Volume=%h/Homelab/data/grimmory/data/grimmory-config:/app/data:z
Volume=/mnt/data/media/media/books:/books:z
Volume=%h/Homelab/downloads/bookdrop:/bookdrop:z

Environment=USER_ID=1000
Environment=GROUP_ID=1000
Environment=TZ=Europe/Madrid
Environment=DATABASE_URL=jdbc:mariadb://localhost:3306/grimmory
EnvironmentFile=%h/.config/containers/systemd/secrets/grimmory-db
Environment=DATABASE_USERNAME=grimmory
Environment=API_DOCS_ENABLED=false
Environment=DISK_TYPE=LOCAL

DropCapability=all
AddCapability=CAP_CHOWN CAP_DAC_OVERRIDE CAP_FOWNER CAP_SETUID CAP_SETGID

AutoUpdate=registry

HealthCmd=wget -q -O - http://localhost:6060/api/v1/healthcheck
HealthInterval=1m
HealthRetries=3
HealthStartPeriod=30s

[Unit]
After=grimmory-db.service
Requires=grimmory-db.service

[Service]
MemoryMax=1G

[Install]
WantedBy=default.target
